@font-face {
    font-family: Poppins;
    src: url(../styles//Poppins\ Regular\ 400.ttf);
}
@font-face {
    font-family: Nunito;
    src: url(../../src/styles/Nunito-Regular.woff);
}

.main{
    width: 23.4375rem;
    height: 50.75rem;
}

.main .into_cont{
    display: flex;
width: 375px;
height: 44px;
padding: 0px 16px;
justify-content: center;
align-items: center;
gap: 150px;
flex-shrink: 0;
margin-bottom: 14px;
}
.into_cont h1{
    color: var(--neutral-grey-800, #323F4B);
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 33px */
}

.room_cont{
    
    width: inherit;
    padding: 40px 27px 0px 28px;
    gap: 27px;
    display: flex;
    flex-direction: column;


}
.btn_cont{
   
    display: flex;
    flex-direction: row;
    padding: 0px 0px 56px;
    position: sticky;
    top: 1000px;
    gap: 13px;
    margin: 55px 0px 26px 26px;;
    
}
.btn_cont button{
    display: flex;
width: 157px;
height: 52px;
padding: 10px;
justify-content: center;
align-items: center;
border: 0px;
gap: 10px;
flex-shrink: 0;
border-radius: 8px;

box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.05), -5px -5px 20px 0px rgba(0, 0, 0, 0.05);
}
 .btn_cont button:first-child{
    color: #007FFF;
text-align: center;
font-size: 18px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 100%;
letter-spacing: 1.25px;
text-transform: uppercase;
border-radius: 8px;
background: #FFF;
box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.05), -5px -5px 20px 0px rgba(0, 0, 0, 0.05);
}
.btn_cont button:nth-child(2){
    color: #FFF;
    border-radius: 8px;
background: #007FFF;

/* Buttons */
box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.10), -3px -3px 10px 0px rgba(0, 0, 0, 0.10);
text-align: center;

/* I/Button */
font-size: 18px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 100%;
letter-spacing: 1.25px;
text-transform: uppercase;
}